h1 {
  background-color: greenyellow;
  color: blue;
}
h2 {
  color: blueviolet;
}
.css {
  background-color: aquamarine;
}
.html {
  background-color: lightblue;
}
.Js {
  background-color: yellow;
}

.sublinha {
  text-decoration: underline;
}
a {
  text-decoration: none;
  font-family: sans-serif;
}
