body {
  font-family: arial;
}
a {
  text-decoration: none;
  color: green;
}
.hj {
  color: darkred;
}
.am {
  color: darkblue;
}
.am {
  color: darkblue;
}
.hj{
  color: darkred;
}
.hj{
  color: darkred;
}
.am{
  color: darkblue;
}